
.main-container{
    display: flex;
    flex-direction: row;
}

.desktop-view{
    background-color: azure;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 20vw;
  }
  
  .mobile-view{
    display: none;
  }
  
  
  .category-button{
    display: flex;
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    font-size: 15px;
    margin-top: 10px;
  }
  
  .heading{
    font-size: 20px;
  }
  
  .line{
    background-color: black;
    margin-left: 5px;
    width: 115px;
  }
  
  .select1{
    margin-left: 25px;
    height: 30px;
    width: 200px;
  }
  
  
  @media screen and (max-width:750px){
    .desktop-view{
        display: none;
    }
    .mobile-view{
        display: block;
    }
    .select1{
        height: 30px;
        width: 90vw;
    }
    
  }
  @media screen and (max-width:750px){
    .main-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 10px;
  
    }
  }